*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar left

ul li{
    display: inline-block;
    padding: 10px 20px;
    padding-left: 6px;
    padding-top: 3px;
    /* padding-right: 0px; */
/* } */

/* a{
    text-decoration: none;
    color: black;
    font-size: large;
} */

/* .nav{
    margin: 10px 20px;
    margin-right: 670px;
} */

/* .navbar{
    border: 1px solid black;
    border-top: none;
    position: fixed;
    top: 0px;
} */

/* .fa-solid{
    font-size: x-small;
} */

/* .upworklogo{
    color: #14A800;
    font-size: xx-large;
    font-weight: bolder;
    padding: 0px;
} */

/* Navbar right */



.
